@use 'variables' as *;

.navbar {
  background: $white;
  color: $black;
}

.brand-text {
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

a.active {
  color: $primary;
}
