// src/app/components/home/home.scss - KOMPLETT ERSETZEN
@use 'variables' as *;
@use 'mixins' as *;

.app-wrapper {
  padding: $spacing-md;
  
  main {
    section {
      padding: 3rem 0;
      
      &:first-child {
        padding-top: 1rem;
      }
    }
  }
  
  @include respond-down(sm) {
    padding: $spacing-sm;
    
    main {
      section {
        padding: 2rem 0;
      }
    }
  }
}